* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.ft {
    margin: 70px;
    margin-top:110px;
}
.ft h1 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(239, 154, 7);
}
.ft h2 {
    font-weight: 700;
    font-size: 60px;
}
.btnn {
   margin-top: 25px;
}
.btnn a {
    text-decoration: none;
    font-weight: 700;
    color:white;
    background-color: rgb(132 204 22);
    padding: 15px; 
    border-radius: 7px 7px;
    
}
.rimu {
    display: flex;
    background-color:rgb(255 251 240 );
    height: 550px;
}
h1 {
    font-size: 40px;
}
.all {
    display: flex;
}
.box-1{
    background-color: #e5e7eb;
    height:620px;
    width: 370px;
    margin: 23px;
    border: 1px solid #e5e7eb;
    box-shadow:  0 5px 15px -5px;
}
.box-1 img{
    background-color: white;
    width: 335px;
    height: 370px;
    margin: 15px;
    border-radius: 10px;
}
.box-1 h2{
    font-size: 30px;
    margin-left: 20px;
}
.box-1 p{
    margin-left: 20px;
}
.btnnn {
    display: flex;
}
.btnnn h1{
    color: rgb(250, 204, 21) ;
    margin-left: 20px;
}
.btnnn a {
    text-decoration: none;
    font-weight: 700;
    color:white;
    background-color: rgb(132 204 22);
    padding: 15px;
    border-radius: 7px 7px;
    margin-left: 120px;
}
.sc1{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    height: 550px;
}
.frt{
    display: flex;
    align-items: center;
    background-color: white;
    height: 130px;
    width: 620px;
    margin-top: 20px;
    border-radius: 10px;
}
.frt img{
    height: 55px;
    margin-left: 20px;
}
.frt h4{
    font-size: 20px;
}
.shp img{
    height:350px ;
    margin-left: 20px;
    margin-top: 25px;

}
footer{
    background-color: #e5e7eb;
    height: 50px;
}
footer p{
    text-align: center;
}
